# Compiled files
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
bin/*
libs/*

# Emacs temp files
*~

# Autoconf files
/Makefile
/autom4te.cache
/config.log
/config.status
/config.h
/_configs.sed
/stamp-h1
/ndn-cpp/ndn-cpp-config.h
/ndn-cpp/stamp-h1
/aclocal.m4
/libtool
/condefs.h
/conftest.cpp
/conftest.err
/m4/*
*.Po
.deps
.dirstamp
*.tar.gz

# Doxygen output
/doc/html
/doc/latex

# Mac OSX
.DS_Store
