# Compiled files
*.slo
*.lo
*.o
*.so
*.dylib
*.lai
*.la
*.a
bin/*

# Emacs temp files
*~

# Autoconf files
/Makefile
/aclocal.m4
/autom4te.cache
/config.h
/config.log
/config.status
/config.guess
/config.sub
/stamp-h1
*.Po
.deps
.dirstamp
*.tar.gz

# Doxygen output
/doc/html
/doc/latex

# Mac OSX
.DS_Store
