# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Emacs temp files
*~

# Autoconf files
/Makefile
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/stamp-h1
*.Po
.deps
.dirstamp

# Mac OSX
.DS_Store
