; "unix_socket" specifies the location of the NFD unix socket
unix_socket=/var/run/nfd.sock

; "protocol" determines the protocol for prefix registration
; it has a value of:
;   nfd-0.1
;   nrd-0.1
;   ndnd-tlv-0.7
;   ndnx-0.7
protocol=nrd-0.1