name: Docker
on:
  push:
    tags:
      - 'ndn-cxx-*'
  schedule:
    # twice a month
    - cron: '20 4 5,20 * *'
  workflow_dispatch:

permissions:
  attestations: write
  id-token: write
  packages: write

jobs:
  ndn-cxx-build:
    uses: named-data/actions/.github/workflows/docker-image.yml@v1
    with:
      name: ndn-cxx-build
      target: build
  ndn-cxx-runtime:
    needs: ndn-cxx-build
    uses: named-data/actions/.github/workflows/docker-image.yml@v1
    with:
      name: ndn-cxx-runtime
      target: runtime
      contexts: build=docker-image://${{ needs.ndn-cxx-build.outputs.image }}
